<%- include ('template/cabecera', {tituloweb: 'Test'});  %>
<div>
  <form id="buscarVideo">
    <input type="text" class="form-control" >
    <button class="btn btn-primary" type="submit">BUSCAR</button>
  </form>
<ul id="lista">
</ul>

</div>

<script src="/player-API/searchVid.js"></script>