<%- include ('template/cabecera', {tituloweb: 'Lets play tghther'}); %>
<link rel="stylesheet" href="/css/index.css" />
<div class="container abs-center">
  <div class="card align-items-center text-center">
    <h1>Bienvenid@</h1>
    <div class="form-group">
      <h5>¡Mira videos de Youtube con tus amigos!</h5>
      <label class="label1" for="nai">Ponle un nombre a tu sala:</label>
      <input
        class="form-control shadow-none border-0"
        type="text"
        id="linkInput"
        autocomplete="off"
      />
      <small id="nailHelp" class="form-text"
        >No se permiten simbolos, espacios y no más de 10 caracteres</small
      >
    </div>
    <div class="form-group">
      <button id="linki" class="btn">Crear</button>
    </div>
  </div>
  <button class="btn about">?</button>
</div>
<div
  class="modal fade"
  id="aboutModal"
  data-keyboard="true"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content text-center">
      <div class="modal-body">
        <h1>Let's play tgther</h1>
        <p>Creado por:</p>
        <h3>Joyfer Ramos</h3>
        <p>Contactos:</p>
        <div><a href="https://t.me/JoyferR" target="_blank">Telegram</a> || <a href="https://joyfer-web.netlify.app/" target="_blank">Página Web</a></div>
        <br />
        <p>Tecnologías utilizadas:</p>
        <p>NodeJS, Express, Templates EJS, Bootstrap 4.5, websockets, vanilla CSS</p>    
        <p>
          Creado con fines didacticos, respetando las políticas de Heroku y
          Youtube. Espero les guste y puedan hallarle una utilidad :)
        </p>
      </div>
      <div class="modal-footer border-0 align-items-center">
        <button class="btn" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script src="/player-API/index.js"></script>
<%- include ('template/footer') %>
