<%- include ('template/cabecera', {tituloweb: 'Player'});  %>
  <link rel="stylesheet" href="/css/player.css">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div class="mt-2 d-none d-sm-none d-md-block"></div>
     <div class="container-md">
      <div class="row">
        <div class="col-md-12 col-lg-8">
     <div class="card align-items-center">


      <form class="form-inline d-none d-sm-none d-md-block mb-2 bai" id="ola" action=""><input class="form-control loadia1" id="n" type="text" ></input><button type="submit" class="btn btn-success loadua1">IR!</button></form>
    <div id="player"></div>
  

<div class="row mt-4">

  <button class="btn btn-success controles controlesseg controls" type="button" id="30segatras" value="atras">←</button>

  <button class="btn btn-success controls play" id="pause-vid">Pausa</button>
  <button class="btn btn-success controls play" id="play-vid">Play</button>
      
  <button class="btn btn-success controles controlesseg controls" id="30segadelante" value="adelante">→</button>
  </div>
 
  <div class="row">
    <button class="btn controles reiniciar2 controlesseek controls" type="button" id="reiniciar">Inicio</button><button class="btn controles reiniciar4 controlesseek controls" type="button" id="syncnow">Sincro</button><button class="btn controles reiniciar3 controlesseek controls" type="button" id="final">Final</button>
  </div></div> 
</div> 
<div class="col-md-12 col-lg-4">
    <div class="mt-5">
      <div class="card chating">
        <h5 class="card-title"><h1 class="text-white">CHAT</h1></h5>
  <ul id="messages" class="list-group ventanaChat overflow-auto">
  <li class="list-group-item-dark">¡Bienvenid@!</li>
</ul>
</div><div class="card text-center chatingFooter align-items-center">
    <form id="chat" action="" class="chateo mt-3">
        <input class="form-control chatcontrol" autocomplete="off" value="Alguien" id="nick" required/><input class="form-control chatcontrol" autocomplete="off" id="m" required/><br><button class="btn chatboton text-white mb-3">Enviar</button>
    </form></div>
  </div>
</div>
</div>
</div>
  

  

  
  <div class="card align-items-center mb-4">
  <form class="form-inline d-block d-sm-block d-md-none mb-4 mt-4 bai" id="alo" action=""><input class="form-control loadia" id="m" type="text"></input><button type="submit" class="btn btn-success loadua">IR!</button></form></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.



      var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '480',
    width: '640',
    videoId: "EGE_-NfJpAc",
    events: {
      'playVideo': playVideo,
      'pauseVideo': pauseVideo,
      'loadVideoById': loadVideo,
      'seekTo': seekTo,
      'onReady': onReady,
    }
  });
}

// 4. Play and pause controlls
function playVideo(event) {
    player.playVideo();
  }

function pauseVideo(event) {
    player.pauseVideo();
  }



function loadVideo(url){
    player.loadVideoById(url, 0)
    console.log(url)
    playVideo(event)
}

function seekTo(amigo){
    player.seekTo(amigo);
}

function onReady(){
  let duracion = player.getDuration()
  const range = document.getElementById('customRange1');
  range.style.width = '0%';
}


    </script>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


    const roomt = "<%= roomy %>";
    console.log(roomt); 


var socket = io.connect();

      socket.emit('join', roomt);
      socket.emit('chat message', '¡Alguien ha entrado a la sala!', roomt)
      

     
        $('.bai').submit(function(e) {
            e.preventDefault(); // prevents page reloading
            let evento = e.target.getAttribute('id');
            if(evento == 'alo'){
            var url = $('#m').val();
            let as = $('#n').val('sds');
            }else if(evento == 'ola'){
            var url = $('#n').val();
            let as = $('#m').val('sds');
            }           
            socket.emit('url-player', url, roomt);
            $('#n').val('');
            $('#m').val('');
            return false;
        });
        
   

   
        $('.controls').click(function(e) {
          let evento = e.target.getAttribute('id');
          switch (evento) {
          case 'play-vid':
            socket.emit('play-player', roomt);
          break;
          case 'pause-vid':
            socket.emit('pause-player', roomt);         
          break;
          case "30segatras":
          case "30segadelante":
          case "reiniciar":
          case "final":
          case "syncnow":
            let inicio = player.getCurrentTime()
            let duration = player.getDuration()
            socket.emit('min-player', roomt, inicio, evento, duration);
          break;

            return false;
        } });
        
        socket.on('play-player', playVideo)
        socket.on('pause-player', pauseVideo)
        socket.on('min-player', seekTo)
        socket.on('url-player', loadVideo)
    ;

    
    $('#chat').submit(function(e) {
                e.preventDefault(); // prevents page reloading
                let msg = $('#nick').val() + ': ' + $('#m').val();
                if (msg.length < 150){
                socket.emit('chat message', msg, roomt);
                }
                $('#m').val('');
                return false;
            });

            socket.on('chat message', function(msg) {
              $('#messages').append($('<li class="list-group-item">').text(msg))
              let objDiv = document.getElementById("messages");
              objDiv.scrollTop = objDiv.scrollHeight;
            });


</script>