<!DOCTYPE html>
<html>
  <body>
    <div class="container h-100">
      <div class="row justify-content-center h-100">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>
        <button id="play-vid">Play</button>
        <button id="pause-vid">Pause</button>
        <form action=""><input id="n" type="text"></input><button>Load</button></form>
    </div>
    </div>
    





<script>


      document.getElementById("play-vid").addEventListener("click", onPlayerReady);
      document.getElementById("pause-vid").addEventListener("click", stopVideo);
      document.getElementById("load-vid").addEventListener("click", loadVideo);
    


// 2. This code loads the IFrame Player API code asynchronously.

function addlista(url) {
            var lista1 = url
           console.log(lista1)
        };

var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '360',
    width: '640',
    videoId: "_h82Y-9GMJ8",
    events: {
      'onReady': onPlayerReady,
      'stopVideo': stopVideo,
      'loadvideo': loadVideo
    }
  });
}

// 4. Play and pause controlls
function onPlayerReady(event) {
  player.playVideo();
}

function stopVideo() {
  player.pauseVideo();
}

function loadVideo(){
    player.loadVideoById("IQchmLGDXgU", 0)
}


</script>


<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(function() {
        var socket = io();
        $('form').submit(function(e) {
            e.preventDefault(); // prevents page reloading
            let url = $('#n').val();
            socket.emit('url-player', url);
            $('#n').val('');
            return false;
        });
        socket.on('play-player', addlista)
    });
</script>

</body>
</html>