<%- include ('template/cabecera', {tituloweb: 'Player'});  %>
  <link rel="stylesheet" href="/css/player.css">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div class="mt-2 d-none d-sm-none d-md-block"></div>
     <div class="container-md">
      <div class="row">
        <div class="col-md-12 col-lg-8">
     <div class="card align-items-center">


      <form class="form-inline d-none d-sm-none d-md-block mb-2 bai" id="ola" action=""><input class="form-control loadia1" id="n" type="text" ></input><button type="submit" class="btn btn-success loadua1">GO!</button></form>
    <div id="player"></div>
  
  <div class="progress1 containter mx-auto"><div class="progress">
    <div id="customRange1" class="progress-bar bg-success" style="width: 0%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div></div>

<div class="row mt-4">

  <button class="btn btn-success controles controlesseg" type="button" id="30segatras" value="atras">←</button>

  <button class="btn btn-success play" id="pause-vid">Pause</button>
  <button class="btn btn-success play" id="play-vid">Play</button>
      
  <button class="btn btn-success controles controlesseg" id="30segadelante" value="adelante">→</button>
  </div>
 
  <div class="row">
    <button class="btn controles reiniciar2 controlesseek" type="button" id="reiniciar">Start</button><button class="btn controles reiniciar4 controlesseek" type="button" id="syncnow">Sync</button><button class="btn controles reiniciar3 controlesseek" type="button" id="final">End</button>
  </div></div> 
</div> 
<div class="col-md-12 col-lg-4">
    <div class="mt-5">
      <div class="card chating">
  <ul id="messages" class="list-group ventanaChat overflow-auto">
  <li class="list-group-item-dark">¡Bienvenid@!</li>
</ul>
</div><div class="card text-center chatingFooter align-items-center">
    <form id="chat" action="" class="chateo">
        <input class="form-control chatcontrol" autocomplete="off" value="nick" id="nick" required/><input class="form-control chatcontrol" autocomplete="off" id="m" required/><br><button class="btn chatboton text-white mb-3">Send</button>
    </form></div>
  </div>
</div>
</div>
</div>
  

  

  
  <div class="card align-items-center mb-4">
  <form class="form-inline d-block d-sm-block d-md-none mb-4 mt-4 bai" id="alo" action=""><input class="form-control loadia" id="m" type="text"></input><button type="submit" class="btn btn-success loadua">GO!</button></form></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.



      var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '480',
    width: '640',
    videoId: "EGE_-NfJpAc",
    events: {
      'playVideo': playVideo,
      'pauseVideo': pauseVideo,
      'loadVideoById': loadVideo,
      'seekTo': seekTo,
      'onReady': onReady,
    }
  });
}

// 4. Play and pause controlls
function playVideo(event) {
    player.playVideo();
  }

function pauseVideo(event) {
    player.pauseVideo();
  }



function loadVideo(url){
    player.loadVideoById(url, 0)
    console.log(url)
    playVideo(event)
}

function seekTo(amigo){
    player.seekTo(amigo);
}

function onReady(){
  let duracion = player.getDuration()
  const range = document.getElementById('customRange1');
  range.style.width = '0%';
}

if(document.hidden = true){
setInterval( () => {
  let inicio = player.getCurrentTime()
  let duracion = player.getDuration()
  const range = document.getElementById('customRange1');
  inicio = inicio / duracion * 100;
  range.style.width = inicio + '%';
}, 1000)
}

    </script>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>


    const roomt = "<%= roomy %>";
    console.log(roomt); 


var socket = io.connect();

      socket.emit('join', roomt);
      socket.emit('chat message', '¡Alguien ha entrado a la sala!', roomt)
      

    $(function() {
        $('.bai').submit(function(e) {
            e.preventDefault(); // prevents page reloading
            let evento = e.target.getAttribute('id');
            if(evento == 'alo'){
            var url = $('#m').val();
            let as = $('#n').val('sds');
            }else if(evento == 'ola'){
            var url = $('#n').val();
            let as = $('#m').val('sds');
            }           
            socket.emit('url-player', url, roomt);
            $('#n').val('');
            $('#m').val('');
            return false;
        });
        socket.on('url-player', loadVideo)
    });

    $(function() {
        $('.play').click(function(e) {
          let evento = e.target.getAttribute('id');
          if(evento == 'play-vid'){
            socket.emit('play-player', roomt);
          } else if (evento == 'pause-vid'){
            socket.emit('pause-player', roomt);
          }
            return false;
        });
        socket.on('play-player', playVideo)
        socket.on('pause-player', pauseVideo)
    });

    $(function() {
        $('.controles').click(function(e) {
            let inicio = player.getCurrentTime()
            let evento = e.target.getAttribute('id');
            let duration = player.getDuration()
            socket.emit('min-player', roomt, inicio, evento, duration);
        });
        socket.on('min-player', seekTo)
    });

    $('#chat').submit(function(e) {
                e.preventDefault(); // prevents page reloading
                let msg = $('#nick').val() + ': ' + $('#m').val();
                if (msg.length < 50){
                socket.emit('chat message', msg, roomt);
                }
                $('#m').val('');
                return false;
            });

            socket.on('chat message', function(msg) {
              $('#messages').append($('<li class="list-group-item">').text(msg))
              let objDiv = document.getElementById("messages");
              objDiv.scrollTop = objDiv.scrollHeight;
            });


</script>