<%- include ('template/cabecera', {tituloweb: 'Player'});  %>
  <link rel="stylesheet" href="/css/player.css">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
     <div class="mt-2 d-none d-sm-none d-md-block"></div>
     <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
     <div class="card align-items-center">
      <form class="form-inline mb-2" id="ola"><input class="form-control" id="n" type="text" autocomplete="off"></input><button type="submit" class ="btn controls loadua1 m-0">IR!</button></form>
    <div id="player"></div>
<div class="row mt-2">
  <button class="btn controls" type="button" id="30segatras" value="atras">←</button>
  <button class="btn controls" id="pause-vid">Pausa</button>
  <button class="btn controls" id="play-vid">Play</button>   
  <button class="btn controls" id="30segadelante" value="adelante">→</button>
  </div>
  <div class="row">
    <button class="btn controls" type="button" id="reiniciar">Inicio</button><button class="btn controls" type="button" id="syncnow">Sincro</button><button class="btn controls" type="button" id="final">Final</button>
  </div></div> 
</div> 
<div class="col-md-12 col-lg-4">
    <div class="mt-5">
      <div class="card chating">
        <h3 class="card-title"><h1 class="text-white">CHAT (<%= roomy %>)</h3>
  <ul id="messages" class="list-group overflow-auto">
  <li class="list-group-item-secondary">¡Bienvenid@!</li>
</ul>
<div class="card-body text-center">
    <form id="chat" class="chateo mt-3">
  <input class="form-control chatcontrol" type="text" autocomplete="off" id="mensajeChat" required/><br><button class="btn controls chatboton text-white mb-1" type="submit">Enviar</button>
    </form></div>
  </div>
</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal hide fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h3 class="modal-title" id="staticBackdropLabel">Sala: <%= roomy %></h3>
      </div>
      <div class="modal-body">
        <p>Usa los botones de abajo, si usas el reproductor puedes desincronizarte con los demás.</p>
          <div class="form-group">
            <label for="nombreUsuario">Nombre</label>
            <input type="text" class="form-control" id="nombreUsuario" autocomplete="off">
          </div>
          <div class="form-group">
            <label for="colorUsuario">Color burbuja</label>
            <select class="form-control" id="colorUsuario">
              <option class="list-group-item list-group-item-primary" value="list-group-item-primary">Azul</option>
              <option class="list-group-item list-group-item-success" value="list-group-item-success">Verde</option>
              <option class="list-group-item list-group-item-danger" value="list-group-item-danger">Rojo</option>
              <option class="list-group-item list-group-item-warning" value="list-group-item-warning">Amarillo</option>
              <option class="list-group-item list-group-item-info" value="list-group-item-info">Cyan</option>
            </select>
          </div>
      </div>
      <div class="modal-footer border-0">
        <button id="guardarUsuario" class="btn controls">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<script> const roomt = "<%= roomy %>";</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/player-API/YT-Api.js"></script>
<script src="/player-API/Player.js"></script>
