@font-face {
  font-family: "PoetsenOne-Regular";
  src: url("../fonts/PoetsenOne-Regular.ttf");
}

@media (max-width: 978px) {
  .container-md {
    padding: 0;
  }
}

body {
  font-family: "PoetsenOne-Regular";
  background: url(../img/Sky-with-Night-Landscape-Vector.jpg) center no-repeat;
  overflow-x: hidden;
  background-size: contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  background-color: #222;
  height: 100%;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(16, 16, 16, 0.45);
  -moz-box-shadow: 2px 2px 7px 0px rgba(16, 16, 16, 0.45);
  box-shadow: 2px 2px 7px 0px rgba(16, 16, 16, 0.45);
}

#player {
  width: 100%;
  min-width: 360px;
  max-width: 855px;
}

.loadua1 {
  border-radius: 0px 6px 6px 0px;
}

#n {
  color: black;
  height: 34px;
  border-radius: 6px 0px 0px 6px;
  border-color: none;
  width: 250px;
  min-width: 20px;
}

.controls {
  width: 75px;
  height: 34px;
  color: white;
  background-color: rgb(64, 146, 194);
  margin: 2px;
  padding: 3px 3px 3px 3px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(16, 16, 16, 0.27);
  -moz-box-shadow: 2px 2px 2px 0px rgba(16, 16, 16, 0.27);
  box-shadow: 2px 2px 2px 0px rgba(16, 16, 16, 0.27);
}

.controls:hover {
  box-shadow: none;
  color: white;
  background-color: rgb(51, 163, 228);
}

.controls:focus {
  box-shadow: none;
}

#messages {
  margin: 0;
  padding: 0;
  height: 300px;
  margin-top: 5%;
  -webkit-overflow-scrolling: touch;
}

#messages li {
  padding: 5px 10px;
  border: none;
}

.modal-content {
  background-color: #222;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border: none;
}

.alert {
  position: fixed;
  top: 20px;
  width: 300px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 999999;
}

small {
  display: block;
  line-height: 150%;
  font-size: 0.85em;
  color: rgb(223, 223, 223);
}
#modalSearches li {
  background-color: transparent;
  padding: 3px 3px;
  margin-top: 40px;
}
#modalSearches li:hover {
  background-color: rgba(255, 255, 255, 0.233);
  border: solid 2px white;
}
#modalSearches li:active {
  background-color: rgba(255, 255, 255, 0.384);
  border: solid 2px white;
}
