@font-face{
  font-family: 'ViceCitySans';
  src: url('../fonts/ViceCitySans.otf');
}

@media (max-width: 978px) {
  .container-md {
    padding:0;
  }


} 

body{
  font-family: 'ViceCitySans';
  background-color: #222;
  overflow-x:hidden;
}

.card{
  background-color: #222;
  border: none !important;
  border-radius: 0px !important;
}

#player{
  width: 100%;
  min-width: 360px;
  max-width: 855px;
}


.progress1{
  width: 100%;
  min-width: 360px;
  max-width: 855px;
}

.controlesseg{
  background: rgb(138,227,78);
  background: -moz-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ae34e",endColorstr="#508b28",GradientType=1);
  
  margin-top: 9%;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }

 .controlesseek{
margin-top: 9%;
border: none;
width: 50px;
height: 50px;
border-radius: 50%;
}

.play{
  background: rgb(138,227,78);
background: -moz-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
background: linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ae34e",endColorstr="#508b28",GradientType=1);

border: none;
width: 80px;
height: 80px;
border-radius: 50%
}

.btn-success:focus{
box-shadow: none;
border: none; 
background-color: none;
}

.loadia{
  height: 44px;
  border-radius: 6px 6px 6px 6px;
  border-color: none;
}

.loadua1{
  background: rgb(138,227,78);
  background: -moz-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ae34e",endColorstr="#508b28",GradientType=1);
  height: 34px;
  padding: 3px 3px 3px 3px;
  border-radius: 0px 6px 6px 0px;
  border: none;
}

.loadia1{
  height: 34px;
  border-radius: 6px 0px 0px 6px;
  border-color: none;
}

.loadua{
  background: rgb(138,227,78);
  background: -moz-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ae34e",endColorstr="#508b28",GradientType=1);
  width: 30%;
  height: 44px;
  padding: 3px 3px 3px 3px;
  border-radius: 6px 6px 6px 6px;
  border: none;
}

.reiniciar2{
  width: 85px;
  height: 34px;
  background-color: white;
  border-radius: 6px 0px 0px 6px;
}

.reiniciar3{
  width: 85px;
  height: 34px;
  background-color: white;
  border-radius: 0px 6px 6px 0px;
}

.reiniciar4{
  width: 85px;
  height: 34px;
  background-color: white;
  border-radius: 0px;
}
 
.bai{
  align-items: center;
  text-align: center;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}


.ventanaChat{
  height: 320px;
  margin-top: 5%;
  max-height: 450px;
  -webkit-overflow-scrolling: touch
}
.chateo {
  bottom: -58px;
}

.chating{
  background-color: rgba(0, 0, 0, 0.438);
}

.chatingFooter{
  background-color: rgba(0, 0, 0, 0.438);
  -webkit-border-bottom-right-radius: 7px !important;
-webkit-border-bottom-left-radius: 7px !important;
-moz-border-radius-bottomright: 7px !important;
-moz-border-radius-bottomleft: 7px !important;
border-bottom-right-radius: 7px !important;
border-bottom-left-radius: 7px !important;
}

li{
  background-color:rgb(26, 26, 26) !important;
  color: white !important;
}

.chatboton{
  background: rgb(138,227,78);
  background: -moz-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  background: linear-gradient(180deg, rgba(138,227,78,1) 0%, rgba(80,139,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ae34e",endColorstr="#508b28",GradientType=1);
}

.chatboton:focus{
box-shadow: none;
}

.chatcontrol:focus{
  box-shadow: none;
  border: none;
}